# Environment Variables
VITE_FIREBASE_API_KEY=AIzaSyAb_jB5bhlSSTW_lVa2CT6dLOTwCrQkM3o
VITE_FIREBASE_AUTH_DOMAIN=wealthbuilders-crm-9c323.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=wealthbuilders-crm-9c323
VITE_FIREBASE_STORAGE_BUCKET=wealthbuilders-crm-9c323.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=939575270287
VITE_FIREBASE_APP_ID=1:939575270287:web:4f7b6f2688dde8f99cc9fa
VITE_FIREBASE_MEASUREMENT_ID=G-240E44FNWS
VITE_STRIPE_PUBLISHABLE_KEY=
